{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Idea Pool</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="" src="{% static 'img/IdeaPool_icon.png' %}">
        </div>
        <ul id="user-alias-container" class="nav navbar-nav navbar-right hidden">
            <li>
                <img id="user-image" class="navbar-brand" src="{% static 'img/IdeaPool_icon.png' %}">
            </li>
            <li>
                <a href="#"><span id="user-alias">User</span></a>
            </li>
            <li>
                <a href="#"><span id="logout">Logout</span></a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock content %}

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/underscore-1.9.1.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

{% block js %}
{% endblock js %}
</body>
</html>