{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h3>My Idea</h3>
            </div>
            <div class="col-xs-6">
                <img class="pull-right" id="add-idea" src="{% static 'img/btn_addanidea.png' %}"/>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div id="add-idea-container"></div>
        <h3>Ideas</h3>
        <div id="ideas-list"></div>
    </div>

    <script type="text/html" id="IdeaEditTemplate">
        <div class="row" data-id="<%= id %>">
            <div class="col-sm-6">
            <input class="idea-content form-control" value="<%= content %>" placeholder="Enter your idea">
            </div>
            <div class="col-sm-1">
                Impact
                <select class="idea-impact form-control">
                    <% if (impact === 1) { %>
                    <option selected="selected">1</option>
                    <% } else { %>
                    <option>1</option>
                    <% } %>
                    <% if (impact === 2) { %>
                    <option selected="selected">2</option>
                    <% } else { %>
                    <option>2</option>
                    <% } %>
                    <% if (impact === 3) { %>
                    <option selected="selected">3</option>
                    <% } else { %>
                    <option>3</option>
                    <% } %>
                    <% if (impact === 4) { %>
                    <option selected="selected">4</option>
                    <% } else { %>
                    <option>4</option>
                    <% } %>
                    <% if (impact === 5) { %>
                    <option selected="selected">5</option>
                    <% } else { %>
                    <option>5</option>
                    <% } %>
                    <% if (impact === 6) { %>
                    <option selected="selected">6</option>
                    <% } else { %>
                    <option>6</option>
                    <% } %>
                    <% if (impact === 7) { %>
                    <option selected="selected">7</option>
                    <% } else { %>
                    <option>7</option>
                    <% } %>
                    <% if (impact === 8) { %>
                    <option selected="selected">8</option>
                    <% } else { %>
                    <option>8</option>
                    <% } %>
                    <% if (impact === 9) { %>
                    <option selected="selected">9</option>
                    <% } else { %>
                    <option>9</option>
                    <% } %>
                    <% if (impact === 10) { %>
                    <option selected="selected">10</option>
                    <% } else { %>
                    <option>10</option>
                    <% } %>
                </select>
            </div>
            <div class="col-sm-1">
                Ease
                <select class="idea-ease form-control">
                    <% if (ease === 1) { %>
                    <option selected="selected">1</option>
                    <% } else { %>
                    <option>1</option>
                    <% } %>
                    <% if (ease === 2) { %>
                    <option selected="selected">2</option>
                    <% } else { %>
                    <option>2</option>
                    <% } %>
                    <% if (ease === 3) { %>
                    <option selected="selected">3</option>
                    <% } else { %>
                    <option>3</option>
                    <% } %>
                    <% if (ease === 4) { %>
                    <option selected="selected">4</option>
                    <% } else { %>
                    <option>4</option>
                    <% } %>
                    <% if (ease === 5) { %>
                    <option selected="selected">5</option>
                    <% } else { %>
                    <option>5</option>
                    <% } %>
                    <% if (ease === 6) { %>
                    <option selected="selected">6</option>
                    <% } else { %>
                    <option>6</option>
                    <% } %>
                    <% if (ease === 7) { %>
                    <option selected="selected">7</option>
                    <% } else { %>
                    <option>7</option>
                    <% } %>
                    <% if (ease === 8) { %>
                    <option selected="selected">8</option>
                    <% } else { %>
                    <option>8</option>
                    <% } %>
                    <% if (ease === 9) { %>
                    <option selected="selected">9</option>
                    <% } else { %>
                    <option>9</option>
                    <% } %>
                    <% if (ease === 10) { %>
                    <option selected="selected">10</option>
                    <% } else { %>
                    <option>10</option>
                    <% } %>
                </select>
            </div>
            <div class="col-sm-1">
                Confidence
                <select class="idea-confidence form-control">
                    <% if (confidence === 1) { %>
                    <option selected="selected">1</option>
                    <% } else { %>
                    <option>1</option>
                    <% } %>
                    <% if (confidence === 2) { %>
                    <option selected="selected">2</option>
                    <% } else { %>
                    <option>2</option>
                    <% } %>
                    <% if (confidence === 3) { %>
                    <option selected="selected">3</option>
                    <% } else { %>
                    <option>3</option>
                    <% } %>
                    <% if (confidence === 4) { %>
                    <option selected="selected">4</option>
                    <% } else { %>
                    <option>4</option>
                    <% } %>
                    <% if (confidence === 5) { %>
                    <option selected="selected">5</option>
                    <% } else { %>
                    <option>5</option>
                    <% } %>
                    <% if (confidence === 6) { %>
                    <option selected="selected">6</option>
                    <% } else { %>
                    <option>6</option>
                    <% } %>
                    <% if (confidence === 7) { %>
                    <option selected="selected">7</option>
                    <% } else { %>
                    <option>7</option>
                    <% } %>
                    <% if (confidence === 8) { %>
                    <option selected="selected">8</option>
                    <% } else { %>
                    <option>8</option>
                    <% } %>
                    <% if (confidence === 9) { %>
                    <option selected="selected">9</option>
                    <% } else { %>
                    <option>9</option>
                    <% } %>
                    <% if (confidence === 10) { %>
                    <option selected="selected">10</option>
                    <% } else { %>
                    <option>10</option>
                    <% } %>
                </select>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <button type="submit" class="idea-submit btn btn-default">Submit</button>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="idea-cancel btn btn-default">Cancel</button>
            </div>
        </div>
    </script>

    <script type="text/html" id="IdeaListItemTemplate">
        <div class="row" data-id="<%= id %>">
            <span class="idea-content col-sm-6"><%= content %></span>
            <div class="col-sm-1">
                Impact
                <span class="idea-impact badge"><%= impact %></span>
            </div>
            <div class="col-sm-1">
                Ease
                <span class="idea-ease badge"><%= ease %></span>
            </div>
            <div class="col-sm-2">
                Confidence
                <span class="idea-confidence badge"><%= confidence %></span>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="idea-edit btn btn-default">Edit</button>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="idea-delete btn btn-default">Delete</button>
            </div>
        </div>
    </script>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock js %}