{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h3 class="page-head">Sign Up</h3>
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <div class="input-group">
                    <span class="input-group-addon" id="user-name-help">Name</span>
                    <input id="user-name" type="text" class="form-control" placeholder="John Doe" aria-describedby="user-name-help">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon" id="user-email-help">Email</span>
                    <input id="user-email" type="email" class="form-control" placeholder="john@doe.com" aria-describedby="user-email-help">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon" id="user-password-help">Password</span>
                    <input id="user-password" type="password" class="form-control" placeholder="password" aria-describedby="user-password-help">
                </div><br>
                <div class="row">
                    <button id="submit" type="submit" class="btn btn-default col-sm-2 col-sm-push-1">Submit</button>
                    <div class="col-sm-6 pull-right">
                        Already have an account? <a href="{% url 'login_view' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/user_signup.js' %}"></script>
{% endblock js %}